{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1 class="jumbo">Welcome to the Grand Trunk</h1>
<div class="well">
  The Grand Trunk is a new breed of market.
  <br>
  <br>
  It utilizes the most sophisticated technology available to provide a rich
  and robust user experience.

  This site saw its soft launch in July 2014. And since then has been receiving consistent updates and tweaks.
</div>
<h2>Rules</h2>
<div class="well">
  This market abides by the standard rules associated with Dark Net markets.
  <br>
  As these activities are forbidden.
  <ul>
    <li>Discussion, sale, or purchase of child pornography</li>
    <li>Trafficking of individuals or animals in full or part-of, alive or dead.</li>
    <li>Selling items intended to do harm upon others, for example
      <ul>
        <li>Guns or Weapons</li>
        <li>Poisons</li>
      </ul>
    </li>
  </ul>
</div>
{% endblock %}
