<!DOCTYPE html>
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <title>Grand Trunk</title>
        {% load-styles css/screen.css %}
    </head>
    <body>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <!-- scripts and styles -->
        <script type="text/javascript">
            var context = "{{servlet-context}}";
        </script>
    </body>
</html>
