{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div id="modal">
  <h2>Login</h2>
  {% if success %}
  <div class="success">{{success}}</div>
  {% endif %}
  <form method="POST">
  {% csrf-token %}
    <div {% if error %}class="has-error"{% endif %}>
      {{error}}
      <input id="handle" class="input" name="login" type="text" placeholder="Username" value="{{login}}"/>
      <input id="pass" class="input" name="pass" type="password" placeholder="Password" />
    </div>
  <span class="submit">
    <input type="submit" class="btn" value="login" />
  </span>
  </form>
  <a href="/register">register</a>
</div>
{% endblock %}
