{% extends "whitecity/views/templates/base.html" %}
{% block content %}
<div id="wrap">
	<div class="container">		
		<div class="entry-content">
		<h2>Login</h2>
		{% if error %}
		<h2 class="error">{{error}}</h2>
    {% endif %}
    {% if success %}
    <h2 class="success">{{success}}</h2>
    {% endif %}
		<form action="/" method="POST">
		<input id="handle" name="login" tabindex="1" type="text" placeholder="Username" value="{{login}}"/>
		<input id="pass" name="pass" tabindex="2" type="password" placeholder="password" />
		<span class="submit">
			<input type="submit" tabindex="3" class="btn" value="login" />
		</span>
		</form>
    <a href="/register">register</a>
		</div>
	</div>
</div>
{% endblock %}
