<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Welcome to whitecity</title>
  </head>
  <body>
    {{user}}
    <div class="wrapper">
      <header id="header">
        <div id="banner"><a href="/market/">Grand Trunk<br /><span class="bar"></span></a></div>
        <div class="nav-search">
          <nav class="links">
          <a href="/market/messages">messages <strong>{{user.messages}}</strong></a> 
            | <a href="/market/orders">orders <strong>{{user.orders}}</strong></a>
            | <a href="/market/account/wallet">wallet &#3647;{{user.btc|double-format:4}}</strong></a>
            {% if user.vendor %}
            | <a href="/market/sales">sales <strong>{{user.sales.total}}</strong></a>
            | <a href="/market/listings">listings <strong>{{user.listings}}</strong></a>
            {% endif %}
          </nav>
          <form action="/market/search" method="POST" class="search">
            <input class="form-control" type="search" name="query" placeholder="Search" />
            <button type="submit">GO</button> 
          </form>
        </div>
        <div class="account-cart">
          <div class="account">
            Hi, <a href="/market/account">{{user.alias}}</a>
            | <a href="/logout">logout</a>
          </div>
          <div class="cart">
            <a href="/market/cart">
              <strong><span class="cart-icon">Cart</span> {{user.cart}}</strong>
            </a>
          </div>
        </div>
      </header>
      <section class="container">
        {% block content %}
        {% endblock %}
      </section>
    </div>
    {% style "/css/screen.css" %}
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
  </body>
</html>
