<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Grand Trunk</title>
    <meta name="viewport" content="initial-scale=1.0">
    {% load-styles css/screen.css %}
  </head>
  <body>
    <div class="wrapper">
      <div class="table">
        <div class="row">
          <div class="cell header">
            <header id="header">
              <div id="banner"><a href="/market/">Grand Trunk<br><span class="bar"></span></a></div>
              <div class="account-cart">
                <div class="account">
                  Hi, <a href="/market/account">{{user.alias}}</a>
                  | <a href="/logout">logout</a>
                </div>
                <div class="cart">
                  <a href="/market/cart">
                    <strong><span class="cart-icon">Cart</span> {{user.cart}}</strong>
                  </a>
                </div>
              </div>
              <div class="nav-search">
                <nav class="links">
                  <a href="/market/messages">messages <strong>{{user.messages}}</strong></a>
                  | <a href="/market/orders">orders <strong>{{user.orders}}</strong></a>
                  | <a href="/market/account/wallet">wallet {{user.currency_symbol|safe}}{{user.balance|double-format:4}}</strong></a>
                  {% if user.vendor %}
                  | <a href="/market/sales">my sales <strong>{{user.sales.total}}</strong></a>
                  | <a href="/market/listings">my listings <strong>{{user.listings}}</strong></a>
                  {% endif %}
                  {% if user.mod %}
                  | <a href="/market/moderate">moderate</a>
                  {% endif %}
                </nav>
                <form action="/market/search" method="GET" class="search">
                  <input class="form-control" type="search" name="q" placeholder="Search" {% if query %}value="{{query}}"{% endif %} />
                  <button type="submit">GO</button>
                </form>
              </div>
            </header>
          </div>
        </div>
        <div class="row">
          <div class="cell max">
            <section class="container">
              {% block content %}
              {% endblock %}
            </section>
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <footer id="footer">
              &#3647;1 BTC ~= {{user.currency_symbol|safe}}{{user.conversion|double-format:4}} | <!-- <a href="/market/support">support</a>  | --><a href="/market/feedback">feedback</a> | <a href="/market/about">about</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        var context = "{{servlet-context}}";
    </script>
  </body>
</html>
