{% extends "whitecity/views/templates/base.html" %}
{% block content %}
<div id="wrap">
	<div class="container">		
		<div class="entry-content">
		<h2>Register</h2>
		<form action="/register" method="POST">
			<table class="padded-table">
				<tr>
					<td><label for="login">Username</label></td>
          <td><input id="login" name="login" tabindex="2" type="text" value="{{login}}" /></td>
          {% if errors.login %}
          <td>{{errors.login|join:", "}}</td>
          {% endif %}
				</tr>
				<tr>
          <td><label for="pass">Password</label></td>
					<td><input id="pass" name="pass" tabindex="3" type="password" /></td>
          {% if errors.pass %}
            <td>{{errors.pass|join:", "}}</td>
          {% endif %}
				</tr>
				<tr>
          <td><label for="confirm">Confrim Password</label></td>
					<td><input id="confirm" name="confirm" tabindex="4" type="password" /></td>
				</tr>
			</table>
			<input type="submit" class="btn" tabindex="6" value="Register" />
		</form>
		</div>
	</div>
</div>
{% endblock %}
