{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1 class="jumbo">Support</h1>
<div class="well">
  {% if message %}
    <strong class="success">{{message}}</strong>
  {% else %}
  If you have an issue, question or concern please submit a support ticket.
  <form method="post">
    <p>
      <label for="subject">Topic:</label>
      <input name="subject" class="input" id="subject" type="text" value="{{subject}}" />
    </p>
    {% if errors.content %}
    <p>{{errors.content|join:", "}}</p>
    {% endif %}
    <p>
      <textarea rows="6" name="content" class="form-control">{{content}}</textarea>
    </p>
  <span class="submit">
    <input type="submit" class="btn" value="send" />
  </span>
    {% csrf-token %}
  </form>
  {% endif %}
</div>
{% endblock %}