{% extends "whitecity/views/templates/market.html" %}
{% block content %}
{% if not id %}
Order not found
{% else %}
<h1 class="jumbo">Order Information</h1>
<span>Transaction #<a href="/moderate/{{id}}">{{id}}</a></span>
<div class="well">
  <table class="fact-table">
    <tbody>
    <tr>
      <td>item:</td><td><a href="/listing/{{listing_id}}">{{title}}</a></td>
    </tr>
    <tr>
      <td>shipping:</td><td>{{postage_title}}</td>
    </tr>
    <tr>
      <td>postage:</td><td class="price">{{user.currency_symbol|safe}}{{postage_price}}</td>
    </tr>
    <tr>
      <td>price:</td><td class="price">{{user.currency_symbol|safe}}{{price}}</td>
    </tr>
    <tr>
      <td>total:</td><td class="price">{{user.currency_symbol|safe}}{{total}}</td>
    </tr>
    <tr>
      <td>ordered:</td><td><span class="pretty-time" data-time="{{created_on|date:fullDateTime}}">{{created_on|date:shortDate}}</span></td>
    </tr>
    <tr>
      <td>auto finalize:</td><td>{% if status = 0 %}N/A{% else %}<span class="pretty-time" data-time="{{auto_finalize|date:fullDateTime}}">{{auto_finalize|date:shortDate}}</span>{% endif %}</td>
    </tr>
    </tbody>
  </table>
</div>
{{buyer}}
<div class="well">
  <h3>Buyer info</h3>
  <table class="fact-table">
    <tbody>
    <tr>
      <td>buyer:</td><td><a href="/user/{{buyer.id}}">{{buyer.alias}}</a></td>
    </tr>
    <tr>
      <td>orders:</td><td>{{past_orders}}</td>
    </tr>
    </tbody>
  </table>
  {% if not buyer-resolutions|empty? %}
  <table class="table normal p">
    <thead>
    <tr>
      <th>order #</th>
      <th>item</th>
      <th>quantity</th>
      <th>price</th>
      <th>freshness</th>
    </tr>
    </thead>
    <tbody>
    {% for order in buyer-resolutions %}
    <tr>
      <td><a href="/moderate/{{order.id}}">{{seller.id}}</a></td>
      <td><a href="/listing/{{order.listing_id}}">{{seller.title}}</a></td>
      <td>{{order.quantity}}</td>
      <td><strong>&#3647;{{order.btc_amount}}</strong></td>
      <td><em>{{order.auto_finalize|freshness}}</em></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
<div class="well">
  <h3>Seller info</h3>
  <table class="fact-table">
    <tbody>
    <tr>
      <td>seller:</td><td><a href="/user/{{seller.id}}">{{seller.alias}}</a></td>
    </tr>
    <tr>
      <td>sales:</td><td>{{seller.transactions}}</td>
    </tr>
    </tbody>
  </table>

  {% if not seller-resolutions|empty? %}
  <table class="table normal p">
    <thead>
    <tr>
      <th>order #</th>
      <th>item</th>
      <th>quantity</th>
      <th>price</th>
      <th>freshness</th>
    </tr>
    </thead>
    <tbody>
    {% for order in seller-resolutions %}
    <tr>
      <td><a href="/moderate/{{order.id}}">{{order.id}}</a></td>
      <td><a href="/listing/{{order.listing_id}}">{{order.title}}</a></td>
      <td>{{order.quantity}}</td>
      <td><strong>&#3647;{{order.btc_amount}}</strong></td>
      <td><em>{{order.auto_finalize|freshness}}</em></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

{% if not resolutions|empty? %}
<h1>User resolutions</h1>
<table class="table resolution fill p">
  <thead>
  <tr>
    <th>from</th>
    <th class="large-column" style="width:70%">message</th>
    <th>action</th>
    <th>freshness</th>
  </tr>
  </thead>
  <tbody>
  {% for resolution in resolutions %}
  <tr>
    <td>
      {% ifequal resolution.from user.id %}
      <span class="sender">{{user.alias}}</span>
      {% else %}
      <a href="/user/{{resolution.seller_id}}" class="sender">{{resolution.alias}}</a>
      {% endifequal %}
    </td>
    <td>
      {{resolution.content}}
    </td>
    <td>
      {% ifequal resolution.action "extension" %}
      extend by {{resolution.value}} day{% if not resolution.value = 1 %}s{% endif %}
      {% endifequal %}
      {% ifequal resolution.action "refund" %}
      refund {{resolution.value}}% ~({{user.currency_symbol|safe}}{{resolution.est|double-format:5}})
      {% endifequal %}
    </td>
    <td><span data-time="{{resolution.created_on|date:fullDateTime}}" class="pretty-time">{{resolution.create_on|date:shortDate}}</span></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}
<form class="well" action="/moderate/{{id}}" method="POST">
  <p>
    Propose a resolution:
  </p>
  <ul class="list-unstyled">
    <li>
      <label>
        <input type="radio" name="action" {% ifequal action "extension" %}checked="checked"{% endifequal %} value="extension" />
        Extension:</label>
      <input name="extension" class="text-input input-2" maxlength="2" id="extension" type="text" value="{{extension}}" />
      days
      {% ifequal action "extension" %}
      {% if errors.value %}
      <strong class="error">{{errors.value|join:", "}}</strong>
      {% endif %}
      {% endifequal %}
    </li>
    <li>
      <label title="This is the percentage of the total that you will receive"><input type="radio" name="action" {% ifequal action "refund" %}checked="checked"{% endifequal %} value="refund" />
        Refund:</label>
      <input name="refund" class="text-input input-3" maxlength="3" id="refund" type="text" value="{{refund}}" />
      %
      {% ifequal action "refund" %}
      {% if errors.value %}
      <strong class="error">{{errors.value|join:", "}}</strong>
      {% endif %}
      {% endifequal %}
    </li>
  </ul>
  <p>
    <label for="message">Message:</label>
    <textarea rows="6" id="message" name="content" class="form-control">{{content}}</textarea>
  </p>
  <span class="submit">
    <input type="submit" class="btn" value="send" />
  </span>
  {% csrf-token %}
</form>
{% endif %}
{% endblock %}
