{% extends "whitecity/views/templates/layout/side-menu.html" %}
{% block links %}
{% include "whitecity/views/templates/links/sales.html" %}
{% endblock %}
{% block menu %}
<div class="title">
  my sales
</div>
<ul class="category-tree">
  <li>
    <a class="header" href="/vendor/sales"><span class="category">Overview</span><span class="count">({{user.sales.total|default:0}})</span></a>
  </li>
  <li>
    <a class="header" href="/vendor/sales/new"><span class="category">New</span><span class="count">({{user.sales.new|default:0}})</span></a>
  </li>
  <li>
    <a class="header" href="/vendor/sales/shipped"><span class="category">In Transit</span><span class="count">({{user.sales.ship|default:0}})</span></a>
  </li>
  <li>
    <a class="header active" href="/vendor/sales/resolutions"><span class="category">In Resolution</span><span class="count">({{user.sales.resolution|default:0}})</span></a>
  </li>
  <li>
    <a class="header" href="/vendor/sales/past"><span class="category">Past</span><span class="count">({{user.sales.finalize|default:0}})</span></a>
  </li>
</ul>
{% endblock %}
{% block container %}
{% if not sales|empty? %}
<h1 class="jumbo">Sales in Resolution</h1>
<table class="table normal">
  <thead>
    <tr>
      <th>order #</th>
      <th>item</th>
      <th>postage type</th>
      <th>quantity</th>
      <th>buyer</th>
      <th>address</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="7">
      {{page-info|pagination}}
    </td>
  </tr>
  </tfoot>
  <tbody>
  {% for order in sales %}
  <tr>
    <td><a href="/vendor/sale/{{order.id}}">{{order.id}}</a></td>
    <td><a href="/listing/{{order.listing_id}}">{{order.title}}</a></td>
    <td>{{order.postage_title}}</td>
    <td>{{order.quantity}}</td>
    <td><a href="/user/{{order.user_id}}">{{order.alias}}</a></td>
    <td><em>{{order.address}}</em></td>
    <td>
      {% if order.arbitration %}
        <em>awaiting arbitration</em>
      {% else %}
        <a href="/vendor/sale/{{order.id}}">resolution page</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="well">You don't have any disputed sales.</p>
{% endif %}
{% endblock %}
