{% extends "whitecity/views/templates/sales/index.html" %}
{% block section %}
{% if not sales|empty? %}
<h1>Sales in Resolution</h1>
<table class="table normal">
  <thead>
    <tr>
      <th>order #</th>
      <th>item</th>
      <th>postage type</th>
      <th>quantity</th>
      <th>buyer</th>
      <th>address</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="7">
      {{page-info|pagination}}
    </td>
  </tr>
  </tfoot>
  <tbody>
  {% for order in sales %}
  <tr>
    <td><a href="/vendor/sale/{{order.id}}">{{order.id}}</a></td>
    <td><a href="/listing/{{order.listing_id}}">{{order.title}}</a></td>
    <td>{{order.postage_title}}</td>
    <td>{{order.quantity}}</td>
    <td><a href="/user/{{order.user_id}}">{{order.alias}}</a></td>
    <td><em>{{order.address}}</em></td>
    <td>
      {% if order.arbitration %}
        <em>awaiting arbitration</em>
      {% else %}
        <a href="/vendor/sale/{{order.id}}">resolution page</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="well">You don't have any disputed sales.</p>
{% endif %}
{% endblock %}
