{% extends "whitecity/views/templates/sales/index.html" %}
{% block section %}
{% if not sales|empty? %}
<h1>Sales in Transit</h1>
<table>
  <thead>
    <tr>
      <th>order #</th>
      <th>item</th>
      <th>postage type</th>
      <th>quantity</th>
      <th>buyer</th>
      <th>address</th>
    </tr>
  </thead>
  <tbody>
  {% for order in sales %}
  <tr>
    <td><a href="/market/order/{{order.id}}">{{order.id}}</a></td>
    <td><a href="/market/listing/{{order.listing_id}}">{{order.title}}</a></td>
    <td>{{order.postage_title}}</td>
    <td>{{order.quantity}}</td>
    <td><a href="/market/user/{{order.user_id}}">{% if order.alias %}{{order.alias}}{% else %}{{order.login}}{% endif %}</a></td>
    <td><em>{{order.address}}</em></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="well">You don't have any disputed sales.</p>
{% endif %}
{% endblock %}
