{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1>My Sales</h1>
{% if sales %}
<table>
  <thead>
    <tr>
      <th>buyer</th>
      <th>item</th>
      <th>price</th>
      <th>quantity</th>
      <th>postage type</th>
      <th>total</th>
      <th>hedged</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
  {% for order in sales %}
  <tr>
    <td><a href="/market/user/{{order.user_id}}">{% if order.alias %}{{order.alias}}{% else %}{{order.login}}{% endif %}</a></td>
    <td><a href="/market/listing/{{order.listing_id}}">{{order.title}}</a></td>
    <td>{{order.price}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.postage_title}}</td>
    <td>{{order.total}}</td>
    <td>{% if order.hedged %}hedged{% else %}unhedged{% endif %}</td>
    <td><em>{{order.status|get-status}}</em></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="well">You don't have any pending sales.</p>
{% endif %}
{% endblock %}
