{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1 class="jumbo"> my sales </h2>
<nav class="sales-nav">
  <a href="/market/sales">overview</a> - 
  {% if user.sales > 0 %}<strong><a href="/market/sales/new">new</a></strong>{% else %}<a href="/market/sales/new">new</a>{% endif %} - 
  <a href="/market/sales/shipped">in transit</a> - 
  <a href="/market/sales/resolutions">in resolution</a> - 
  <a href="/market/sales/past">past</a> 
</nav>
{% block section %}
{% endblock %}
{% endblock %}
