{% extends "whitecity/views/templates/sales/index.html" %}
{% block section %}
{% if not sales|empty? %}
<h1>New sales</h1>
<form action="/market/sales/new" method="POST">
  {% csrf-token %}
  <input type="submit" name="submit" value="accept" />
  <input type="submit" name="submit" value="reject" />
  {{sales|join:", "}}
  <table class="table normal sales">
    <thead>
      <tr>
        <th></th>
        <th>order #</th>
        <th>item</th>
        <th>postage type</th>
        <th>quantity</th>
        <th>buyer</th>
        <th>amount</th>
        <th>fee</th>
        <th>address</th>
      </tr>
    </thead>
    <tfoot>
    <tr>
      <td colspan="7">
        {{page|pagination}}
      </td>
    </tr>
    </tfoot>
    <tbody>
    {% for order in sales %}
    <tr>
      <td><input type="checkbox" name="check[{{order.id}}]" /></td>
      <td><a href="/market/sale/{{order.id}}">{{order.id}}</a></td>
      <td><a href="/market/listing/{{order.listing_id}}">{{order.title}}</a></td>
      <td>{{order.postage_title}}</td>
      <td>{{order.quantity}}</td>
      <td><a href="/market/user/{{order.user_id}}">{{order.alias}}</a></td>
      <td>{{user.currency_symbol|safe}}{{order.amount|double-format:5}}</td>
      <td>{{user.currency_symbol|safe}}{{order.fee|double-format:5}}</td>
      <td><em>{{order.address}}</em></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
{% else %}
  <p class="well">You don't have any pending sales.</p>
{% endif %}
{% endblock %}
