{% extends "whitecity/views/templates/sales/index.html" %}
{% block section %}
{% if not sales|empty? %}
<h1>New sales</h1>
<form action="/market/postage/create" method="POST">
  {% csrf-token %}
  <input type="submit" name="submit" value="accept" />
  <input type="submit" name="submit" value="reject" />
  <table>
    <thead>
      <tr>
        <th></th>
        <th>order #</th>
        <th>item</th>
        <th>postage type</th>
        <th>quantity</th>
        <th>buyer</th>
        <th>address</th>
      </tr>
    </thead>
    <tbody>
    {% for order in sales %}
    <tr>
      <td><input type="checkbox" name="check[{{order.id}}]" /></td>
      <td><a href="/market/order/{{order.id}}">{{order.id}}</a></td>
      <td><a href="/market/listing/{{order.listing_id}}">{{order.title}}</a></td>
      <td>{{order.postage_title}}</td>
      <td>{{order.quantity}}</td>
      <td><a href="/market/user/{{order.user_id}}">{% if order.alias %}{{order.alias}}{% else %}{{order.login}}{% endif %}</a></td>
      <td><em>{{order.address}}</em></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
{% else %}
  <p class="well">You don't have any pending sales.</p>
{% endif %}
{% endblock %}
