{% extends "whitecity/views/templates/sales/index.html" %}
{% block section %}
{% if not sales|empty? %}
<h1>Sales Overview</h1>
<table class="table">
  <thead>
    <tr>
      <th>order #</th>
      <th>item</th>
      <th>postage type</th>
      <th>quantity</th>
      <th>buyer</th>
      <th>freshness</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
  {% for order in sales %}
  <tr>
    <td><a href="/market/sale/{{order.id}}">{{order.id}}</a></td>
    <td><a href="/market/listing/{{order.listing_id}}">{{order.title}}</a></td>
    <td>{{order.postage_title}}</td>
    <td>{{order.quantity}}</td>
    <td><a href="/market/user/{{order.user_id}}">{{order.alias}}</a></td>
    <td>
      {% if order.updated_on %}
        <span class="pretty-time" data-time="{{listing.updated_on|date:fullDateTime}}">
          {{order.updated_on|date:shortDate}}
        </span>
      {% else %}
        <span class="pretty-time" data-time="{{listing.created_on|date:fullDateTime}}">
          {{order.created_on|date:shortDate}}
        </span>
      {% endif %}
    </td>
    <td>
        {% ifequal order.status "2" %}
          <a href="/market/sale/{{order.id}}">
            {{order.status|get-status}}
          </a>
        {% else %}
          <em> {{order.status|get-status}}</em>
        {% endifequal %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="well">No sales to display.</p>
{% endif %}
{% endblock %}
