{% extends "whitecity/views/templates/market.html" %}
{% block content %}
{% if not id %}
Sale not found
{% else %}
<h1 class="jumbo">Order Information</h1>
<span>Transaction #<a href="/market/sale/{{id}}">{{id}}</a></span>
<div class="well">
  <ul>
    <li>status: {{status|status}}</li>
    <li>buyer: <a href="/market/user/{{user_id}}">{{alias}}</a></li>
    <li>seller: {{user.alias}}</li>
    <li>contract: ~</li>
    <li>item: <a href="/market/listing/{{listing_id}}">{{title}}</a></li>
    <li>shipping: {{postage_title}}</li>
    <li>postage: {{postage_price}}</li>
    <li>total price: {{price}}</li>
    <li>ordered: <span class="pretty-time" data-time="{{created_on|date:fullDateTime}}">{{created_on|date:shortDate}}</span></li>
    <li>auto finalize: {% if status = 0 %}N/A{% else %}<span class="pretty-time" data-time="{{auto_finalize|date:fullDateTime}}">{{auto_finalize|date:shortDate}}</span>{% endif %}</li>
  </ul>
</div>
{% if status = 2 %}
{% if not resolutions|empty? %}
<table class="table resolution fill p">
  <thead>
    <tr>
      <th>from</th>
      <th class="large-column" style="width:70%">message</th>
      <th>action</th>
      <th>freshness</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for resolution in resolutions %}
    <tr>
      <td>
        {% ifequal resolution.from user.id %}
          <span class="sender">{{user.alias}}</span>
        {% else %}
          <a href="/market/user/{{resolution.user_id}}" class="sender">{{resolution.alias}}</a>
        {% endifequal %}
      </td>
      <td>
        {{resolution.content}}
      </td>
      <td>
        {% ifequal resolution.action "extension" %}
        extend by {{resolution.value}} day{% if not resolution.value = 1 %}s{% endif %}
        {% endifequal %}
        {% ifequal resolution.action "refund" %}
        refund {{resolution.value}}%
        {% endifequal %}
      </td>
      <td><span data-time="{{resolution.created_on|date:fullDateTime}}" class="pretty-time">{{resolution.create_on|date:shortDate}}</span></td>
      <td>
        {% if not resolution.seller_accepted %}
          <a href="/market/resolution/{{resolution.id}}/accept">accept</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<form class="well" action="/market/sale/{{id}}" method="POST">
  Propose a resolution:
  <ul>
    <li>
    <input type="radio" name="action" {% ifequal action "extension" %}checked="checked"{% endifequal %} value="extension" />
      <label for="extension">Extension:</label>
      <input name="extension" class="text-input input-2" maxlength="2" id="extension" type="text" value="{{extension}}" />
      days
      {% ifequal action "extension" %}
        {% if errors.value %}
          <strong class="error">{{errors.value|join:", "}}</strong>
        {% endif %}
      {% endifequal %}
    </li>
    <li>
      <input type="radio" name="action" {% ifequal action "refund" %}checked="checked"{% endifequal %} value="refund" />
      <label for="refund">Refund:</label>
      <input name="refund" class="text-input input-3" maxlength="3" id="refund" type="text" value="{{refund}}" />
      %
      {% ifequal action "refund" %}
        {% if errors.value %}
          <strong class="error">{{errors.value|join:", "}}</strong>
        {% endif %}
      {% endifequal %}
    </li>
  </ul>
  <p>
    <label for="message">Message:</label>
    <textarea rows="6" id="message" name="content" class="form-control">{{content}}</textarea>
  </p> 
  <span class="submit">
    <input type="submit" class="btn" value="send" />
  </span>
  {% csrf-token %}
</form>
{% endif %}
{% endif %}
{% endblock %}
