{% extends "whitecity/views/templates/market.html" %}
{% block content %}
{{resolutions}}
{% if not resolutions|empty? %}
<table class="table resolution fill p">
  <thead>
    <tr>
      <th>from</th>
      <th class="large-column" style="width:70%">message</th>
      <th>action</th>
      <th>freshness</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for resolution in resolutions %}
    <tr>
      <td>
        {% if resolution.from_user %}
          <a href="/market/user/{{resolution.user_id}}" class="sender">{{resolution.alias}}</a>
        {% else %}
          <span class="sender">{{user.alias}}</span>
        {% endif %}
      </td>
      <td>
        {{resolution.content}}
      </td>
      <td>
        {% if resolution.extension %}
        extend by {{resolution.extension}} day{% if not resolution.extension = 1 %}s{% endif %}
        {% endif %}
        {% if resolution.refund %}
        refund {{resolution.refund}}%
        {% endif %}
      </td>
      <td><span time="{{resolution.created_on|date:fullDateTime}}" class="pretty-time">{{resolution.create_on|date:shortDate}}</span></td>
      <td>
        {% if not resolution.seller_accepted %}
          <a href="/market/resolution/{{resolution.id}}/accept">accept</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<form class="well" action="/market/sale/{{order_id}}" method="POST">
  Propose a resolution:
  <ul>
    <li>
    <input type="radio" name="action" {% if not action %}checked="checked"{% endif %} value="extension" />
      <label for="extension">Extension:</label>
      <input name="extension" class="text-input input-2" maxlength="2" id="extension" type="text" value="{{extension}}" />
      days
      {% if errors.extension %}
      <strong class="error">{{errors.extension|join:", "}}</strong>
      {% endif %}
    </li>
    <li>
      <input type="radio" name="action" value="refund" />
      <label for="refund">Refund:</label>
      <input name="refund" class="text-input input-3" maxlength="3" id="refund" type="text" value="{{refund}}" />
      %
      {% if errors.refund %}
      <strong class="error">{{errors.refund|join:", "}}</strong>
      {% endif %}
    </li>
  </ul>
  <p>
    <label for="message">Message:</label>
    <textarea rows="6" id="message" name="content" class="form-control">{{content}}</textarea>
  </p> 
  <span class="submit">
    <input type="submit" class="btn" value="send" />
  </span>
  {% csrf-token %}
</form>
{% endblock %}
