{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="inbox">
  <h1 class="jumbo">my followers</h1>
  <nav class="nav"><a href="/vendor/news">overview</a> - <em>create a new post</em></nav>
</div>
{{preview|safe}}
<form class="well" method="POST">
  <p>
    <label for="subject">Subject: {% if errors.subject %}<p>{{errors.subject|join:", "}}</p>{% endif %}</label>
    <input name="subject" class="text-input" id="subject" type="text" value="{{subject}}" />
  </p>
  <p>
    <label>Public: <input type="checkbox" name="public" {% if public %}checked{% endif %} value="true" /></label>
    should this be visible on your profile? (if not it will be a newsletter sent to your fans)
  </p>
  <p>
    <label>Published: <input type="checkbox" name="published" {% if published %}checked{% endif %} value="true" /></label>
    you can always publish an article at a later date.
  </p>
  {% if errors.content %}
  <p>{{errors.content|join:", "}}</p>
  {% endif %}
  <p>
    <textarea rows="6" name="content" class="form-control">{{content|safe}}</textarea>
  </p>
  <span class="submit">
    <button type="submit" class="btn">{% if preview %}Update{% else %}Create{% endif %}</button>
  </span>
  {% csrf-token %}
</form>
{% endblock %}
