{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="column-layout">
  <div class="row">
    <nav class="side-menu cell"><div class="header">
        <div class="green"></div>
        <div class="pink"></div>
      </div>
      <form action="/search" method="GET" class="search">
        <input type="search" name="q" placeholder="Search Listings" {% if query %}value="{{query}}"{% endif %} />
        <button type="submit">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="18px" height="18px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
              <path fill="#989898" d="M6.762,2.25c2.467,0,4.474,2.019,4.474,4.5c0,0.935-0.287,1.834-0.829,2.601L9.966,9.974l-0.618,0.442
            c-0.763,0.546-1.657,0.834-2.586,0.834c-2.467,0-4.474-2.018-4.474-4.5S4.295,2.25,6.762,2.25 M6.762,0L6.762,0
            C3.056,0,0.051,3.022,0.051,6.75s3.005,6.75,6.711,6.75c1.449,0,2.786-0.466,3.882-1.25l5.391,5.42
            c0.219,0.221,0.506,0.33,0.793,0.33c0.286,0,0.572-0.109,0.791-0.33c0.438-0.439,0.438-1.153,0-1.594l-5.39-5.42
            c0.78-1.104,1.243-2.449,1.243-3.906C13.473,3.022,10.469,0,6.762,0"/>
          </svg>
        </button>
      </form>
      <div class="title">
        Browse
      </div>
      {{categories|render-tree}}
    </nav>
    <div class="ls cell">
      <div class="options">
        <form method="get">
          <span class="well">
            <label>
              sort by:
              <select name="sort_by">
                <option value="bestselling">bestselling</option>
                <option {% ifequal sort_by "lowest" %}selected {% endifequal %}value="lowest">lowest price</option>
                <option {% ifequal sort_by "highest" %}selected {% endifequal %}value="highest">highest price</option>
                <option {% ifequal sort_by "title" %}selected {% endifequal %}value="title">title</option>
                <option {% ifequal sort_by "newest" %}selected {% endifequal %}value="newest">newest</option>
              </select>
            </label>
            {% if user.logged_in %}
            <label>
              <input type="checkbox" name="ships_to" value="true"{% if ships_to %} checked="checked"{% endif %}> ships to my region
            </label>
            <label>
              <input type="checkbox" name="ships_from" value="true"{% if ships_from %} checked="checked"{% endif %}> ships from my region
            </label>
            {% endif %}
          </span>
          <button type="submit" class="btn">update</button>
        </form>
      </div>
      {% for listing in listings %}
      <div class="listing-row">
        {% if listing.image_id %}
        <div class="thumbnail">
          <a href="/listing/{{listing.id}}">
            {% image-thumbnail listing.image_id %}
          </a>
        </div>
        {% endif %}
        <div class="sale">
          <div class="text">
            <span>{{user.currency_symbol|safe}}{{listing.price|double-format:5}}</span>
            <br />
            <a href="/cart/add/{{listing.id}}">add to cart</a>
          </div>
        </div>
        <h1><a href="/listing/{{listing.id}}">{{listing.title}}</a></h1>
        <table class="fact-table">
            <tbody>
                <tr>
                    <td>seller:</td>
                    <td><a href="/user/{{listing.user_id}}">{{listing.alias}} ({{listing.rating|rating}})</a></td>
                </tr>
            <tr>
                <td>ships from:</td>
                <td>{{listing.from|region}}</td>
            </tr>
            <tr>
                <td>ships to:</td>
                <td>{{listing.to|regions}}</td>
            </tr>
            </tbody>
        </table>
      </div>
      {% endfor %}
      <div class="clear-float"></div>
      <div class="market">{{page|pagination}}</div>
    </div>
  </div>
</div>
{% endblock %}
