{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div id="market">
  <div class="row">
    <nav class="categories cell">
      <div class="legend">Shop by <strong>Category</strong></div>
      {{categories|render-tree}}
    </nav>
    <div class="ls cell">
      <div class="options">
        <form method="get">
          <span class="well">
            <label>
              sort by:
              <select name="sort_by">
                <option value="bestselling">bestselling</option>
                <option {% ifequal sort_by "lowest" %}selected {% endifequal %}value="lowest">lowest price</option>
                <option {% ifequal sort_by "highest" %}selected {% endifequal %}value="highest">highest price</option>
                <option {% ifequal sort_by "title" %}selected {% endifequal %}value="title">title</option>
                <option {% ifequal sort_by "newest" %}selected {% endifequal %}value="newest">newest</option>
              </select>
            </label>
            {% if user.logged_in %}
            <label>
              <input type="checkbox" name="ships_to" value="true"{% if ships_to %} checked="checked"{% endif %}> ships to my region
            </label>
            <label>
              <input type="checkbox" name="ships_from" value="true"{% if ships_from %} checked="checked"{% endif %}> ships from my region
            </label>
            {% endif %}
          </span>
          <button type="submit" class="btn">update</button>
        </form>

      </div>
      {% for listing in listings %}
      <div class="listing-row">
        {% if listing.image_id %}
        <div class="thumbnail">
          <a href="/market/listing/{{listing.id}}">
            {% image-thumbnail listing.image_id %}
          </a>
        </div>
        {% endif %}
        <div class="sale">
          <div class="text">
            <span>{{user.currency_symbol|safe}}{{listing.price|double-format:5}}</span>
            <br />
            <a href="/market/cart/add/{{listing.id}}">add to cart</a>
          </div>
        </div>
        <h1><a href="/market/listing/{{listing.id}}">{{listing.title}}</a></h1>
        <ul>
          <li>seller: <a href="/market/user/{{listing.user_id}}">{{listing.alias}}</a></li>
          <li>ships from: {{listing.from|region}}</li>
          <li>ships to: {% if listing.to = 1 %}Worldwide{% else %}{{listing.to|region}}{% endif %}</li>
        </ul>
      </div>
      {% endfor %}
      <div class="clear-float"></div>
      <div class="market">{{page|pagination}}</div>
    </div>
  </div>
</div>
{% endblock %}
