{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="ls">
{% for listing in listings %}
{{listing}}
<div class="listing-row">
  <div class="thumbnail">
  {% if listing.image_id %}
    <img src="/uploads/{{listing.image_id}}.jpg" />
  {% endif %}  
  </div>
  <div class="sale">
    <span>{{listing.price|double-format:5}}</span>
    <br />
    <a href="/market/cart/add/{{listing.id}}">add to cart</a>
  </div>
  <h1><a href="/market/listing/{{listing.id}}">{{listing.title}}</a></h1>
  <ul>
    <li>seller: <a href="/market/user/{{listing.user_id}}">{% if listing.alias %}{{listing.alias}}{% else %}{{listing.login}}{% endif %}</a></li>
    <li>ships from: {{listing.from|default-if-empty:"Undeclared"}}</li>
    {% if not listing.to|empty? %}
    <li>ships to: {{listing.to}}</li>
    {% endif %}
  </ul>
</div>
{% endfor %}
</div>
{% endblock %}
