{% extends "whitecity/views/templates/market.html" %}
{% block content %}
welcome to the messages page!
<div class="messages">
  {% for message in messages %}
    <div class="message">
      <span class="sender">{{message.sender_name}}</span>
      {% if message.read %}
      <span class="subject">{{message.subject}}</span>
      {% else %}
      <span class="subject"><strong>{{message.subject}}</strong></span>
      {% endif %}
      <span class="age">{{message.age}}</span>
    </div>
  {% endfor %}
</div>
{% endblock %}
