{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1>Shopping Cart</h1>
<p class="well">
  <a href="/market/cart/empty">empty cart</a>
</p>
{% if listings %}
<form class="my-cart" action"/market/cart" method="POST">
{% csrf-token %}
<table>
  <thead>
    <tr>
      <th>seller</th>
      <th>item</th>
      <th>price</th>
      <th>quantity</th>
      <th>sub-total</th>
      <th>postage</th>
      <th>total</th>
      <th>hedged</th>
    </tr>
  </thead>
  <tbody>
  {% for listing in listings %}
  {{listing}}
  <tr>
    <td>{% if listing.alias %}{{listing.alias}}{% else %}{{listing.login}}{% endif %}</td>
    <td>{{listing.title}}</td>
    <td>{{listing.price|double-format:5}}</td>
    <td><input type="text" name="quantity[{{listing.lid}}]" value="{{listing.lid|count-cart}}" /><em>max: {{listing.quantity}}</em></td>
    <td>{{listing.subtotal|double-format:5}}</td>
    <td>
      <select name="postage[{{listing.lid}}]">
        <option>select one</option>
        {% for postage in listing.postage %}
        <option {% ifequal listing.lid|postage-cart postage.id %}selected{% endifequal %} value="{{postage.id}}">{{postage.title}} - {{postage.price|double-format:5}}</option>
        {% endfor %}
      </select>
    </td>
    <td>{{listing.total|double-format:5}}</td>
    <td>{% if listing.hedged %}hedged{% else %}unhedged{% endif %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<p>
  <input type="submit" name="submit" value="Update Cart" />
</p>
<div class="well">
  <label for="address">Address {% if errors.address %} <span class="error">- {{errors.address}}</span> {% endif %}</label>
  <textarea rows="4" class="form-control" id="address" name="address">{{address}}</textarea> 
  <label for="pin">Pin: </label>
    {% if errors.pin %}
      {{errors.pin}}
    {% endif %}
    <input type="password" name="pin" id="pin" />
    <input type="submit" name="submit" value="Place Order" onclick="return confirm('Order?')" />
</div>
</form>
{% else %}
  <p class="well">Your cart is empty!</p>
{% endif %}
{% endblock %}
