{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1 class="jumbo">Shopping Cart</h1>
<a href="/market/cart/empty">empty cart</a>
{% if listings %}
<form class="my-cart" action"/market/cart" method="POST">
{% csrf-token %}
<table class="table">
  <thead>
    <tr>
      <th>seller</th>
      <th>item</th>
      <th>price</th>
      <th>quantity</th>
      <th>sub-total</th>
      {% if errors.postage %}<th class="error">postage required</th>{% else %}<th>postage</th>{% endif %}
      <th>total</th>
      <th>hedged</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for listing in listings %}
  <tr>
    <td>{{listing.alias}}</td>
    <td>{{listing.title}}</td>
    <td>{{listing.price|double-format:5}}</td>
    <td><input class="quantity-input" type="text" name="quantity[{{listing.lid}}]" value="{{listing.lid|count-cart}}" /><em>max: {{listing.quantity}}</em></td>
    <td>{{listing.subtotal|double-format:5}}</td>
    <td>
      <select name="postage[{{listing.lid}}]">
        <option>select one</option>
        {% for postage in listing.postage %}
        <option {% ifequal listing.lid|postage-cart postage.id %}selected{% endifequal %} value="{{postage.id}}">{{postage.title}} - {{postage.price|double-format:5}}</option>
        {% endfor %}
      </select>
    </td>
    <td>{{listing.total|double-format:5}}</td>
    <td>{% if listing.hedged %}hedged{% else %}unhedged{% endif %}</td>
    <td><a href="/market/cart/{{listing.lid}}/remove">remove</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<p>
  <input type="submit" name="submit" value="Update Cart" />
</p>
<div class="well">
  <h1>Total: {{total}}</h1>
  <p>
    <label for="address">Address {% if errors.address %} <span class="error">- {{errors.address}}</span> {% endif %}</label>
    <textarea rows="7" class="form-control" id="address" name="address">{{address}}</textarea> 
  </p>
  <label for="pin">Pin: </label>
    {% if errors.pin %}
      {{errors.pin}}
    {% endif %}
    <input class="text-input" type="password" name="pin" id="pin" />
    <p>
      <input type="submit" name="submit" value="Place Order" onclick="return confirm('Order?')" />
    </p>
</div>
</form>
{% else %}
  <p class="well">Your cart is empty!</p>
{% endif %}
{% endblock %}
