{% extends "whitecity/views/templates/market.html" %}
{% block content %}
{% if not id %}
<p>User not found</p>
{% else %}
<h1 class="jumbo">{{alias}}</h1>
<a href="/market/messages/{{id}}">send a message</a>
<p class="well">
  has been a member for: <strong class="pretty-time" data-time="{{created_on|date:fullDateTime}}">{{created_on|date:shortDate}}</strong>
  <br />
  was last seen: <strong class="pretty-time" data-time="{{last_login|date:fullDateTime}}">{{last_login|date:shortDate}}</strong>
  <br />
  ranked in the top % of sellers with {{feedback-rating}}% positive feedback from more than {{transactions}} tranactions
  <br />
  has {{fans}} {% ifequal fans "1" %}follower{% else %}followers{% endifequal %} - {% if followed %}<a href="/market/user/{{id}}/unfollow">unfollow</a>{% else %}<a href="/market/user/{{id}}/follow">follow</a>{% endif %}
</p>
<p class="well">
  {% if reported %}
    <a href="/market/user/{{id}}/unreport">remove my report</a>
  {% else %}
    <a href="/market/user/{{id}}/report">report this vendor</a>
  {% endif %}
</p>
{% if vendor %}
  {% if not description|empty? %}
  <div class="well p">
    {{description|safe}}
  </div>
  {% endif %}
  {% if not pub_key|empty? %}
  <div class="well p">
    {{pub_key}}
  </div>
  {% endif %}
{% endif %}
{% if listings %}
<table class="user-listings">
  <thead>
    <tr>
      <th>category</th>
      <th>item</th>
      <th>price</th>
      <th>ships to</th>
      <th>ships from</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
{% for listing in listings-all %}
  <tr>
    <td><a href="/market/category/{{listing.category_id}}">{{listing.category_name}}</a></td>
    <td><a href="/market/listing/{{listing.id}}">{{listing.title}}</a></td>
    <td>{{listing.price|double-format:5}}</td>
    <td>{{listing.to}}</td>
    <td>{{listing.from}}</td>
    <td><a href="/market/cart/add/{{listing.id}}">add to cart</a></td>
  </tr>
{% endfor %}
  </tbody>
<table>
{% else %}
The users does not currently have active public listings
{% endif %}
{% if not review|empty? %}
  <table class="reviews table">
    <thead>
      <tr>
        <th>rating</th>
        <th class="large-column">review</th>
        <th>freshness</th>
        <th>recieved</th>
        <th>Item</th>
      </tr>
    </thead>
    <tbody>
      {% for r in review %}
      <tr>
        <td>{{r.rating}} of 5</td>
        <td>{{r.content}}</td>
        <td data-time="{{r.created_on|date:fullDateTime}}" class="pretty-time">{{r.created_on|date:shortDate}}</td>
        <td>{% if r.shipped %}received{% else %}waiting{% endif %}</td>
        <td><a href="/market/listing/{{r.listing_id}}">item</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% endif %}
{% endblock %}
