{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="images">
  <h1 class="jumbo">my images</h1>
  <nav class="nav p">
    <a href="/market/account/images">my images</a> - <a href="/market/account/images/upload">upload</a> - <strong>edit</strong>
  </nav>
  {% if not images|empty? %}
  <form action="/market/account/images/edit" enctype="multipart/form-data" method="POST">
  {% csrf-token %}
  <table class="table normal p">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>uploaded on</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
      <tr>
        <td>{{image.id}}</td>
        <td><input type="text" value="{{image.name}}" name="name[{{image.id}}]" class="input" /></td>
        <td>
          <span class="pretty-time" data-time="{{image.created_on|date:fullDateTime}}">
            {{image.created_on|date:shortDate}}
          </span>
        </td>
        <td>
          <a href="/market/image/{{image.id}}/delete">delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="form-group">
    <button type="submit" class="btn">submit</button>
  </div>
  </form>
  {% else %}
    You do not currently have any hosted images
  {% endif %}
</div>
{% endblock %}
