{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="images">
  <h1 class="jumbo">my images</h1>
  <nav class="nav p">
    <a href="/vendor/account/images">my images</a> - <strong>upload</strong> - <a href="/vendor/images/edit">edit</a>
  </nav>
  <div class="well p">
    <p>
      The max size for an image is 400(px) wide x 300(px) tall. Any image uploaded at a different size will be transformed to these dimensions and
      images must be in the jpeg format.
    </p>
    <form enctype="multipart/form-data" method="post">
      {% csrf-token %}
      <div class="form-group">
        <label>Upload a Image (.jpg):</label>
        <div>
          <input type="file" name="image" accept="image/jpeg" />
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">upload</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
