html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.error {
    color: red;
}

.listings .listing-row .thumbnail-wrapper {
  overflow: hidden;
  height: 150px;
  float: left;
}

.listings .listing-row {
  overflow: hidden;
  padding-bottom: 20px;
}

.listings .listing-row .info {
  float: left;
  margin: 0 0 0 20px;
}

.listings .listing-row .info h2 {
  margin: 0 0 10px 0;
}

.listings .listing-row .cost {
  float: right;
  width: 150px;
  text-align: center;
}

/* ls is the main pages listings **/
.ls .listing-row {
  overflow: hidden;
  background: #C5C1C1;
  margin-bottom: 10px;
}

.ls .listing-row .thumbnail {
  background: #1e1e1e;
  height: 150px;
  width: 200px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.ls .listing-row .thumbnail img {
  width: 200px;
}

.ls .listing-row .sale {
  float: right;
  width: 200px;
  padding-top: 56px;
  height: 150px;
  box-sizing:border-box;
  text-align: center;
  background: #B1ABAB;
}

.ls .listing-row .sale span {
  margin-top: 30px;
}
