{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1>My orders</h1>
{% if not pending-review|empty? %}
<form action="/market/orders" method="POST">
  {% csrf-token %}
  <table class="table">
    <thead>
      <th>item</th>
      <th>seller</th>
      <th>rating</th>
      <th>did you receive the item?</th>
      <th>additional comments</th>
    </thead>
    <tbody>
      {% for order in pending-review %}
      <tr>
        <td><a href="/market/order/{{order.id}}/">{{order.title}}</a></td>
        <td><a href="/market/user/{{order.seller_id}}">{{order.alias}}</a></td>
        <td>
          <input type="radio" name="rating[{{order.id}}]" value="1" /> 1
          <input type="radio" name="rating[{{order.id}}]" value="2" /> 2
          <input type="radio" name="rating[{{order.id}}]" value="3" /> 3
          <input type="radio" name="rating[{{order.id}}]" value="4" /> 4
          <input type="radio" selected="selected" name="rating[{{order.id}}]" value="5" /> 5
        </td>
        <td>
          <input type="radio" name="shipped[{{order.id}}]" value="true" /> yes
          <input type="radio" name="shipped[{{order.id}}]" value="false" /> no
        </td>
        <td>
          <textarea class="form-control" name="content[{{order.id}}]"></textarea>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>
    <span class="submit">
      <input type="submit" class="btn" value="submit" />
    </span>
  </p>
</form>
{% endif %}
{% if not orders|empty? %}
<table class="table normal">
  <thead>
    <tr>
      <th>order #</th>
      <th>item</th>
      <th>quantity</th>
      <th>seller</th>
      <th>status</th>
      <th>hedged</th>
      <th>auto finalize</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
  <tr>
    <td><a href="/market/order/{{order.id}}">{{order.id}}</a></td>
    <td><a href="/market/listing/{{order.listing_id}}">{{order.title}}</a></td>
    <td>{{order.quantity}}</td>
    <td><a href="/market/user/{{order.seller_id}}">{{order.alias}}</a></td>
    <td><em>{{order.status|get-status}}</em></td>
    <td>{% if order.hedged %}hedged{% else %}unhedged{% endif %}</td>
    <td>
      {% if order.status = 0 %} 
        N/A
      {% else %}
        <span time="{{order.auto_finalize|date:fullDateTime}}" class="pretty-time">{{order.auto_finalize|date:shortDate}}</span>
      {% endif %}
    </td>
    <td>
      {% if order.status = 2 %}<a href="/market/order/{{order.id}}">resolution page</a>{% else %}
        {% if order.status = 0 %}
          <a href="/market/order/{{order.id}}">cancel</a>
        {% else %}
          {% if order.resolve %} 
          <a href="/market/order/{{order.id}}/resolve">resolve</a> {% else %} <em>resolve</em> {% endif %} | <a href="/market/order/{{order.id}}/finalize">finalize<a>
          {% endif %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p class="well">You don't have any pending orders.</p>
{% endif %}
{% endblock %}
