{% extends "whitecity/views/templates/market.html" %}
{% block content %}
{% if not resolutions|empty? %}
<table class="table resolution fill">
  <thead>
    <tr>
      <th>from</th>
      <th class="large-column">message</th>
      <th>action</th>
      <th>freshness</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for message in resolutions %}
    <tr>
      <td>
        {% ifequal user.id message.user_id %}
          <span class="sender">{{user.alias}}</span>
        {% else %}
          <a href="/market/user/{{message.user_id}}" class="sender">{{message.user_alias}}</a>
        {% endifequal %}
      </td>
      <td>
        {% if not message.subject|empty? %}
          <div class="header">
            <strong class="subject">Subject: {{message.subject}}</strong>
          </div>
        {% endif %}
        <div class="content">
          {{message.content}}
        </div>
      </td>
      <td><span time="{{message.created_on|date:fullDateTime}}" class="pretty-time">{{message.create_on|date:shortDate}}</span></td>
      <td><a href="/market/message/{{message.id}}/delete">delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<form class="well" action="/market/order/{{order_id}}/resolutions" method="POST">
  Propose a resolution:
  <ul>
    <li>
      <input type="radio" name="action" checked="checked" value="extension" />
      <label for="extension">Extension:</label>
      <input name="extension" class="text-input input-2" maxlength="2" id="extension" type="text" value="{{extension}}" />
      days
    </li>
    <li>
      <input type="radio" name="action" value="refund" />
      <label for="refund">Refund:</label>
      <input name="refund" class="text-input input-3" maxlength="3" id="refund" type="text" value="{{refund}}" />
      %
    </li>
  </ul>
  <p>
    {% if errors.content %}
    <p>{{errors.content|join:", "}}</p>
    {% endif %}
    <label for="message">Message:</label>
    <textarea rows="6" id="message" name="content" class="form-control">{{content}}</textarea>
  </p> 
  <span class="submit">
    <input type="submit" class="btn" value="send" />
  </span>
  {% csrf-token %}
</form>
{% endblock %}
