{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<form action="/market/listings/create" enctype="multipart/form-data" method="POST">
  {% csrf-token %}
  {% if image_id %}
  <div class="image">
    <img src="/uploads/{{image_id}}.jpg" />
  </div>
  {% endif %}
  <div class="well top">
    <div class="form-group">
      <label>Upload a Image (.jpg):</label>
      <div>
        <input type="file" name="image" accept="image/jpeg" />
      </div>
    </div>
    {% if images %}
    <div class="form-group">
      <label for="images">Select an image:</label>
      <div> 
        <select id="images" name="image_id">
        <option value {% if not image_id %}selected="selected"{% endif %}>None</option>
        {% for image in images %}
        <option {% ifequal image_id image.id %}selected="selected"{% endifequal %} value="{{image.id}}">
        {% if image.name %}
        {{image.name}}
        {% else %}
        {{image.id}}
        {% endif %}
        </option>
        {% endfor %}
        </select>
        <a href="/market/images">manage images</a>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="form-group {% if errors.title %}has-error{% endif %}">
    <label for="title">Title:
    {% if errors.title %}
      {{errors.title|join:", "}}
    {% endif %}
    </label>
    <input name="title" id="title" class="form-control" tabindex="1" type="text" value="{{title}}" />
  </div>
  <div class="form-group public">
      <label>Public?</label>
      <div> 
        <input type="checkbox" name="public" value="true">
        (check for yes)
      </div>
  </div>
  <div class="form-group">
    <label for="category_id">Category: </label>
    <div>
      <select tabindex="4" id="category_id" name="category_id">
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group {% if errors.title %}has-error{% endif %}">
    <label for="price">
    <select title="currency" tabindex="3" name="currency_id" id="currency_id">
      {% for currency in currencies %}
      <option value="{{currency.key}}">{{currency.name}}</option>
      {% endfor %}
    </select>
    {% if errors.currency_id %}
    {{errors.currency_id|join:", "}}
    {% endif %}
    Price: 
    {% if errors.price  %}
    {{errors.price|join:", "}}
    {% endif %}
    </label>
    <div>
      <input name="price" id="price" class="form-control" tabindex="2" type="text" value="{{price}}" />
    </div>
  </div>
  <div class="form-group {% if errors.quantity %}has-error{% endif %}">
    <label for="quantity">Quantity:
      {% if errors.quantity %}
        {{errors.quantity|join:", "}}
      {% endif %}
    </label>
    <input class="form-control" name="quantity" value="{{quantity}}" id="quantity" />
  </div>
  <div class="form-group">
    <label for="ships_from">Ships from:</label>
    <input class="form-control" name="from" value="{{from}}" id="ships_from" />
  </div>
  <div class="form-group">
    <label for="ships_to">Ships to:</label>
    <input class="form-control" name="to" value="{{to}}" id="ships_to" />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea id="description" class="form-control" tabindex="5" rows="4" name="description">{{description}}</textarea>
  </div>
  <div class="form-group">
    <button type="submit" tabindex="6" class="btn">create</button>
  </div>
</form>
{% endblock %}
