{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<h1 class="jumbo">my listings</h1>
<nav class="nav p">
    <a href="/market/listings/create">Create a new listing</a> - <a href="/market/postage/create">add postage</a> - <a href="/market/account/images">manage images</a>
</nav>
<div class="postage">
{% if not postages|empty? %}
<table class="table normal">
  <thead>
    <tr>
      <th>title</th>
      <th>price</th>
      <th>currency</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for postage in postages %}
    <tr>
        <td>{{postage.title}}</td>
        <td>{{postage.currency_symbol|safe}}{{postage.price}}</td>
        <td>{{postage.currency_name}}</td>
        <td><a href="/market/postage/{{postage.id}}/edit">edit</a></td>
        <td><a href="/market/postage/{{postage.id}}/remove">remove</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="well">
    <strong class="danger">
        You need to add postage
    </strong>
</p>
{% endif %}
</div>
<div class="listings">
{% for listing in listings %}
  <div class="listing-row">
    {% if listing.image_id %}
      <div class="thumbnail-wrapper">
        {% image listing.image_id %}
      </div>
    {% endif %}
    <div class="info">
      <h2>{{listing.title}}
        <sup class="normal">
          <a href="/market/listing/{{listing.id}}/edit" class="edit">edit</a> -
          <a href="/market/listing/{{listing.id}}/remove" class="remove" oncLick="return confirm('Delete?')">delete</a>
        </sup>
      </h2>
      <p>
        <span class="age pretty-time" data-time="{{listing.created_on|date:fullDateTime}}">
          {{listing.created_on|date:shortDate}}
        </span>
        <span class="public">
          this listing is 
          {% if listing.public %}
          public
          {% else %}
          private
          {% endif %}
          - <a href="/market/listing/{{listing.id}}" class="link">link</a>
        </span>
        <br />
        <span class="ships-from">ships from: {{listing.from|region}}</span>
        <br />
        <span class="ships-to">ships to: {% if listing.to = 1 %}Worldwide{% else %}{{listing.to|region}}{% endif %}</span>
        <br />
        <span class="category">Category: <a href="/market/category/{{listing.category_id}}">{{listing.category_name}}</a></span>
      </p>
    </div>
    <div class="cost">
      <h3>Price: {{listing.currency_symbol|safe}}{{listing.price}}</h3>
      <h4>Currency: {{listing.currency_key}}</h4>
    </div>
  </div>
{% endfor %}
  {{page|pagination}}

</div>
{% endblock %}
