{% extends "whitecity/views/templates/market.html" %}
{% block content %}
{% if not lid %}
<p>Listing not found</p>
{% else %}
<div class="listing">
  {% if image_id %}
    <img src="/uploads/{{image_id}}.jpg" />
  {% endif %}
  <h1>{{title}}</h1>
  <p>
    <span class="price">{{price|double-format:4}}</span>
    <a href="/market/cart/add/{{lid}}">add to cart</a>
  </p>
  <div class="well">
    <ul>
      <li>seller: <a href="/market/user/{{user_id}}" class="seller">{{user_alias}}</a></li>
      <li>ships from: {{from}}</li>
      <li>ships to: {{to}}</li>
      <li>category: <a href="/market/category/{{category_id}}">{{category_name}}</a></li>
      <li>bookmarked {{bookmarks}} {% ifequal bookmarks 1 %}time{% else %}times{% endifequal %}
      {% if bookmarked %}
        <a href="/market/listing/{{lid}}/unbookmark">unbookmark this item</a></li>
      {% else %}
        <a href="/market/listing/{{lid}}/bookmark">bookmark this item</a></li>
      {% endif %}
    </ul>
  </div>
  <p class="postage">
    <span>postage options: </span>
    <select id="postage">
      {% for postage in postage %}
      <option data="{{postage}}">{{postage.title}} - {{postage.price|double-format:4}}</option>
      {% endfor %}
    </select>
  </p>
  <p class="well">
  {% if reported %}
    <a href="/market/listing/{{lid}}/unreport">remove my report</a>
  {% else %}
    <a href="/market/listing/{{lid}}/report">report this listing</a>
  {% endif %}
  </p>
  <div class="well description">
    {{description}}
  </div>
  {% if not review|empty? %}
    <table class="reviews table">
      <thead>
        <tr>
          <th>rating</th>
          <th class="large-column">review</th>
          <th>freshness</th>
          <th>recieved</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="4">
            {{page|pagination}}
          </td>
        </tr>
      </tfoot>
      <tbody>
        {% for r in review %}
        <tr>
          <td>{{r.rating}} of 5</td>
          <td>{{r.content}}</td>
          <td time="{{r.created_on|date:fullDateTime}}" class="pretty-time">{{r.created_on|date:shortDate}}</td>
          <td>{% if r.shipped %}received{% else %}waiting{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endif %}
{% endblock %}
