{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="inbox">
  <dl>
    <dt><a href="/market/messages">inbox <strong>{{user.messages}}</strong></a></dt>
    <dd><a href="/market/messages/sent">sent</a></dd>
  </dl>
</div>
<div class="messages">
  {% for message in messages %}
    <div class="message">
      <span class="sender">{% if message.user_alias %}{{message.user_alias}}{% else %}{{message.user_login}}{% endif %}</span>
      {% if message.read %}
      <span class="subject"><a href="/market/messages/{{message.user_id}}">{{message.subject}}</a></span>
      {% else %}
      <span class="subject">
        <strong><a href="/market/messages/{{message.user_id}}">{{message.subject}}</a></strong>
      </span>
      {% endif %}
      <span time="{{message.created_on|date:fullDateTime}}" class="age pretty-time">{{message.created_on|date:shortDate}}</span>
    </div>
  {% empty %}
    You do not have any messages
  {% endfor %}
</div>
{% endblock %}
