{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="inbox">
    <a href="/market/messages">inbox <strong>{{user.messages}}</strong></a> - <a href="/market/messages/sent">sent</a>
</div>
{% if not messages|empty? %}
<table class="table normal messages">
  <thead>
    <tr>
      <th>from</th>
      <th>subject</th>
      <th>freshness</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for message in messages %}
    <tr class="message">
      <td>
        <span class="sender">{{message.user_alias}}</span>
      </td>
      <td>{% if message.subject %}{{message.subject}}{% else %}no subject{% endif %}</td>
      <td><span time="{{message.created_on|date:fullDateTime}}" class="age pretty-time">{{message.created_on|date:shortDate}}</span></td>
      <td>
        <span class="subject"><a href="/market/messages/{{message.user_id}}">read</a></span>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<div class="p">You do not have any messages</div>
{% endif %}
{% endblock %}
