{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<div class="inbox">
  <h1 class="jumbo">my messages</h1>
  <nav class="sales-nav"><a href="/market/messages">inbox <strong>{{user.messages}}</strong></a> - <a href="/market/messages/sent">sent</a></nav>
</div>
{% if not messages|empty? %}
<table class="table thread">
  <thead>
    <tr>
      <th>from</th>
      <th class="large-column">message</th>
      <th>freshness</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {% for message in messages %}
    <tr>
      <td>
        {% ifequal user.id message.sender_id %}
          <span class="sender">{{user.alias}}</span>
        {% else %}
          <a href="/market/user/{{message.user_id}}" class="sender">{{message.user_alias}}</a>
        {% endifequal %}
      </td>
      <td>
        {% if not message.subject|empty? %}
          <div class="header">
            <strong class="subject">Subject: {{message.subject}}</strong>
          </div>
        {% endif %}
        <div class="content">
          {{message.content}}
        </div>
      </td>
      <td><span data-time="{{message.created_on|date:fullDateTime}}" class="pretty-time">{{message.create_on|date:shortDate}}</span></td>
      <td>{% ifequal message.user_id user.id %}<a href="/market/message/{{message.id}}/delete">delete</a>{% endifequal %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<form class="well" action="/market/messages/{{user_id}}" method="POST">
  <p>
    <label for="subject">Subject:</label>
    <input name="subject" class="text-input" id="subject" type="text" value="{{subject}}" />
  </p>
  {% if errors.content %}
  <p>{{errors.content|join:", "}}</p>
  {% endif %}
  <p>
    <textarea rows="6" name="content" class="form-control">{{content}}</textarea>
  </p> 
  <span class="submit">
    <input type="submit" class="btn" value="send" />
  </span>
  {% csrf-token %}
</form>
{% endblock %}
