{% extends "whitecity/views/templates/market.html" %}
{% block content %}
<form action="/market/postage/create" method="POST">
  {% csrf-token %}
  {% if errors.title %}
  <p>{{errors.title|join:", "}}</p>
  {% endif %}
  <p>
    <label for="title">Title: </label>
    <input name="title" id="title" class="input" type="text" value="{{title}}" />
  </p>
  <p {% if errors.price %}class="errors"{% endif %}>
    <label for="price">Price: </label>
    <input name="price" class="input" id="price" type="text" value="{{price}}" />
    {% if errors.price %}
      {{errors.price|join:", "}}
    {% endif %}
  </p>
  <p>
    <label for="currency_id">Currency: </label>
    <select name="currency_id" id="currency_id">
      {% for currency in currencies %}
      <option value="{{currency.id}}" {% ifequal currency_id currency.id %}selected="selected"{% endifequal %}>{{currency.name}}</option>
      {% endfor %}
    </select>
  </p>
  <span class="submit">
    <input type="submit" class="btn" value="create" />
  </span>
</form>
{% endblock %}
