.btn {
  display: inline-block;
  padding: 5px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-user-select: none;
  user-select: none;
}

.btn-gray {
  background: #fff;
  color: #333;
  border-color: #e3e3e3;
}

.btn-gray:hover {
  background: #ccc;
}

.btn-primary {
  background: @blue;
  color: #fff;
  &:hover {
    background: lighter(@blue);
  }
  &:active {
    background: darker(@blue);
  }
}