/*
 * Categories
 */

.categories {
  float: left;
  margin-right: 30px;
}

.categories ul {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
}

.categories .count {
  color: #ccc;
  font-style: italic;
}