/*
 * header styling
 */

.cell.header {
  background: #fff;
}

#header {
  position: relative;
  padding: 0 48px;
  overflow: hidden;
  height: 50px;

  .links {
    height: 100%;
    a {
      display: inline-block;
      height: 100%;
      padding-top: 14px;
      margin-right: 12px;
      font-size: 13px;
      letter-spacing: 1.2px;
      position: relative;
      &:hover:after, &.active:after {
         content: "";
         width: 100%;
         position: absolute;
         height: 4px;
         bottom: 0;
         left: 0;
         background: #999;
      }

      &.active {
        color: #39BDD1;
      }

      &.active:after {
        background: #39BDD1;
      }
    }
  }

  .account-cart {
    color: #4D4D4D;
    float: right;
    margin-top: 14px;
    text-align: right;
  }

  .account {
    float: left;
    margin-right: 12px;
  }

  .cart {
    float: left;
  }
}

#banner {
  margin: 8px 72px 0 0;
  float: left;

  .icon-feather {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: top;
  }

  a {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .6px;
    font-size: 25px;
    color: #999999;
    position: relative;
    overflow: hidden;
  }
  a:hover {
    color: #CECECE;
    path {
      fill: #CECECE !important;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  #header {
    .nav-search {
      float: none;
      button {
        width: 100%;
        margin-top: 5px;
        display: block;
      }
    }

    #banner {
      float: none;
    }

    .cart {
      margin-top: 0;
    }

    .account-cart {
      float: none;
      display: block;
      overflow: hidden;

      .account {
        float: left;
      }
      .cart {
        float: right;
      }
    }
  }
}

/* end header styling */