
#ships_to {
  vertical-align: top;
}

.listings .listing-row .thumbnail-wrapper {
  overflow: hidden;
  height: 150px;
  margin-right: 24px;
  float: left;
}

.listings .listing-row .thumbnail-wrapper img {
  width: 200px;
}

.listings .listing-row {
  overflow: hidden;
}

.listings .listing-row .info {
  margin-left: 24px;
}

.listings .listing-row .info h2 {
  margin: 0 0 10px 0;
}

.listings .listing-row .cost {
  float: right;
  width: 150px;
  text-align: center;
}

/* listing view page */

.listing {
  .price {
    color: @price;
    font-size: 18px;
  }

  .image {
    .image-wrapper {
      height: 300px;
      width: 400px;
      overflow: hidden;
    }

    img {
      height: 300px;
    }

    background: #fff;
    overflow: hidden;
    width: 422px;
    height: 322px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .info {
    display: inline-block;
    margin-bottom: 0;
  }
}