
#ships_to {
  vertical-align: top;
  height: 10em;
}

/* listing view page */

.listing {
  .price {
    color: @price;
  }

  .image {
    .image-wrapper {
      height: 300px;
      width: 400px;
      overflow: hidden;
    }

    img {
      height: 300px;
    }
    overflow: hidden;
    width: 422px;
    height: 322px;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .info {
    display: inline-block;
    margin-bottom: 0;
  }
}