*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4285;
  background: #DCE1E5;
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

a {
  color: #006837;
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}