{% extends "whitecity/views/templates/account/account.html" %}
{% block section %}
<form action="/market/account" enctype="multipart/form-data" method="POST">
  {% csrf-token %}
  <div class="form-group {% if errors.alias %}has-error{% endif %}">
    <label for="alias">Alias:
    {% if errors.alias %}
      {{errors.alias|join:", "}}
    {% endif %}
    </label>
    <input name="alias" id="alias" class="input" type="text" value="{{user.alias}}" />
  </div>
  <div class="form-group">
    <label for="currency_id">Currency: </label>
    <select id="currency_id" name="currency_id">
      {% for currency in currencies %}
      <option value="{{currency.id}}" {% ifequal currency.id user.currency_id %}selected="selected"{% endifequal %}>{{currency.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="region_id">Region: </label>
    <select id="region_id" name="region_id">
      {% for region in regions %}
      <option value="{{region.id}}" {% ifequal region.id user.region_id %}selected="selected"{% endifequal %}>{{region.name}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group public">
      <strong>2 step auth?</strong>
      <br>
      <label>
        <input type="checkbox" {% if user.auth %}checked="checked"{% endif %} name="auth" value="true">
        (check for yes)
      </label>
  </div>
  <div class="form-group">
    <label for="pub-key">Public Key:
    {% if errors.pub_key %}
      <span class="error">
        {{errors.pub_key}}
      </span>
    {% endif %}
    </label>
    <textarea id="pub-key" class="form-control" rows="14" name="pub_key">{{user.pub_key}}</textarea>
  </div>
  {% if user.vendor %}
  <div class="form-group">
    <label for="description">My Description:</label>
    <textarea id="description" class="form-control" rows="8" name="description">{{user.description|safe}}</textarea>
  </div>
  {% endif %}
  <div class="form-group">
    <button type="submit" class="btn">update</button>
  </div>
</form>
{% endblock %}
