{% extends "whitecity/views/templates/layout/side-menu.html" %}
{% block links %}
{% include "whitecity/views/templates/links/wallet.html" %}
{% endblock %}
{% block menu %}
<div class="title">
  Account
</div>
<ul class="category-tree">
  <li>
    <a class="header" href="/account"><span class="category">settings</span></a>
  </li>
  <li>
    <a class="header" href="/account/pgp"><span class="category">pgp</span></a>
  </li>
  <li>
    <a class="header" href="/account/wallet"><span class="category">wallet</span></a>
  </li>
  <li>
    <a class="header" href="/account/favorites"><span class="category">favorites</span></a>
  </li>
  <li>
    <a class="header" href="/account/reviews"><span class="category">reviews</span></a>
  </li>
  <li>
    <a class="header active" href="/account/password"><span class="category">change password</span></a>
  </li>
</ul>
{% endblock %}
{% block container %}
<h1 class="jumbo">Change Password</h1>
{% if message %}<h3 class="success">{{message}}</h3>{% endif %}
<form action="/account/password" enctype="multipart/form-data" method="POST">
  {% csrf-token %}
  <p>
  <label>current password:
    {% if errors.pass %}
      <span class="error">{{errors.pass|join:", "}}</span>
    {% endif %}
    <input type="password" name="pass" class="input" placeholder="current password">
  </label>
  </p>
  <p>
  <label>new password:
    {% if errors.newpass %}
      <span class="error">{{errors.pass|join:", "}}</span>
    {% endif %}
    <input type="password" name="newpass" class="input" placeholder="new">
  </label>
  </p>
  <p>
  <label>confirm password:
    <input type="password" name="confirm" class="input" placeholder="confirm">
  </label>
  </p>
  <div class="form-group">
    <button type="submit" class="btn">update</button>
  </div>
</form>
{% endblock %}
