{% extends "whitecity/views/templates/account/account.html" %}
{% block section %}
{% if message %}<h3 class="success">{{message}}</h3>{% endif %}
<form action="/market/account/password" enctype="multipart/form-data" method="POST">
  {% csrf-token %}
  <p>
  <label>current password:
    {% if errors.pass %}
      <span class="error">{{errors.pass|join:", "}}</span>
    {% endif %}
    <input type="password" name="pass" class="input" placeholder="current password">
  </label>
  </p>
  <p>
  <label>new password:
    {% if errors.newpass %}
      <span class="error">{{errors.pass|join:", "}}</span>
    {% endif %}
    <input type="password" name="newpass" class="input" placeholder="new">
  </label>
  </p>
  <p>
  <label>confirm password:
    <input type="password" name="confirm" class="input" placeholder="confirm">
  </label>
  </p>
  <div class="form-group">
    <button type="submit" class="btn">update</button>
  </div>
</form>
{% endblock %}
