{% extends "whitecity/views/templates/account/account.html" %}
{% block section %}
<form enctype="multipart/form-data" method="POST">
  {% csrf-token %}
  {% if message %}<span class="success">{{message}}</span>{% endif %}
  <div class="form-group">
    <label for="pub-key">Public Key:
    {% if errors.pub_key %}
      <span class="error">
        {{errors.pub_key}}
      </span>
    {% endif %}
    </label>
    <textarea id="pub-key" class="form-control" rows="14" name="pub_key">{% if pub_key %}{{pub_key}}{% else %}{{user.pub_key}}{% endif %}</textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn">update</button>
  </div>
</form>
{% endblock %}
