{% extends "whitecity/views/templates/account/account.html" %}
{% block section %}
{% if success %}
  <div class="success">{{success}}</div>
{% endif %}
{% if not reviews|empty? %}
<h3>reviews</h3>
<table class="table normal p">
  <thead>
    <tr>
      <th>item</th>
      <th>message</th>
      <th>rating</th>
      <th>received</th>
      <th>freshness</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
  <tr>
    <td colspan="7">
      {{page|pagination}}
    </td>
  </tr>
  </tfoot>
  <tbody>
  {% for review in reviews %}
    <tr>
      <td><a href="/listing/{{review.listing_id}}">{{review.title}}</a></td>
      <td>{{review.content}}</td>
      <td>{{review.rating}}</td>
      <td>{% if review.shipped %}yes{% else %}no{% endif %}</td>
      <td><strong class="pretty-time" title="{{review.created_on|date:fullDateTime}}">{{review.created_on|date:shortDate}}</strong></td>
      <td><a href="/review/{{review.id}}/edit">edit</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p class="well">
You can only see reviews that you have authored in the last 4 months. No reviews were found.
</p>
{% endif %}
{% endblock %}
