{% extends "whitecity/views/templates/account/account.html" %}
{% block section %}
<h3>Wallet</h3>
<p class="well">
  <strong>availible:</strong>&#3647;{{user.btc}} {% if balance %}(~{{user.currency_symbol|safe}}{{user.balance|double-format:2}}){% endif %}
  <br>
  <strong>Bitcoin address:</strong> <span class="bitcoin-address">{{user.wallet}}</span>
  <br>
  <a href="/market/account/wallet/new">generate a new address</a>
</p>
<h3>Wallet Pin</h3>
<div class="well p">
  {% if not pin %}
  You need to create a pin to preform a purchase or withdrawal.
  <form method="post">
    <label>Enter Pin: <input class="text-input" type="text" name="address" value="{{pin}}" /></label>
  </form>
  {% else %}
  {% endif %}
</div>
<h3>Withdraw Funds</h3>
<div class="well p">
  {% if user.btc >= 0 %}
    <form method="post">
      {% csrf-token %}
      <div {% if not errors.amount|empty? %}class="has-error"{% endif %}>
        <label>amount: <input class="text-input" type="text" name="amount" value="{{amount}}" /></label>
        {% if errors.amount %}
          {{errors.amount|join:", "}}
        {% endif %}
      </div>
      <div {% if not errors.address|empty? %}class="has-error"{% endif %}>
        <label>bitcoin address: <input class="text-input btc-address" type="text" name="address" value="{{address}}" /></label>
        {% if errors.address %}
          {{errors.address|join:", "}}
        {% endif %}
      </div>

      <button type="submit" class="btn">submit</button>
    </form>
  {% else %}
    insufficient funds
  {% endif %}
</div>
<h3>Recent Transactions</h3>
{% if not transactions|empty? %}
<table class="table normal p">
  <thead>
    <tr>
      <th>amount</th>
      <th>note</th>
    </tr>
  </thead>
  <tbody>
  {% for transaction in transactions %}
    <tr {% if transaction.amount > 0 %}class="gain"{% else %}class="loss"{% endif %}>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.role}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p class="well">
  no recent transactions
</p>
{% endif %}
{% endblock %}
