{% extends "whitecity/views/templates/account/account.html" %}
{% block section %}
<h3>Wallet</h3>
<p class="well">
  <strong>availible:</strong>&#3647;{{user.btc}} {% if balance %}(~{{user.currency_symbol|safe}}{{user.balance|double-format:2}}){% endif %}
  <br>
  <strong>Bitcoin address:</strong> <span class="bitcoin-address">{{user.wallet}}</span>
  <br>
  <a href="/market/account/wallet/new">generate a new address</a>
</p>
<h3>Withdraw Funds</h3>
<p class="well">
  insufficient funds
</p>
<h3>Recent Transactions</h3>
{% if not transactions|empty? %}
<table class="table normal p">
  <thead>
    <tr>
      <th>amount</th>
      <th>note</th>
    </tr>
  </thead>
  <tbody>
  {% for transaction in transactions %}
    <tr {% if transaction.amount > 0 %}class="gain"{% else %}class="loss"{% endif %}>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.role}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p class="well">
  no recent transactions
</p>
{% endif %}
{% endblock %}