{% extends "whitecity/views/templates/account/account.html" %}
{% block section %}
<h3>Wallet</h3>
<p class="well">
  <strong>availible: </strong>&#3647;{{user.btc}} {% if balance %}(~{{user.currency_symbol|safe}}{{user.balance|double-format:2}}){% endif %}
  <br>
  <strong>Bitcoin address:</strong> <span class="bitcoin-address">{{user.wallet}}</span>
  <br>
  <a href="/market/account/wallet/new">generate a new address</a>
</p>
<h3>Wallet Pin</h3>
<div class="well p">
  {% if not user.pin %}
  <h4>You need to create a pin to preform a purchase or withdrawal.</h4>
  <form method="post">
    {% csrf-token %}
    <table>
      <tbody>
        <tr>
          <td><label for="pin">New Pin: </label></td>
          <td {% if not errors.pin|empty? %}class="has-error"{% endif %}>
            <input id="pin" class="text-input" type="text" name="pin" placeholder="New Pin" />
            {% if errors.pin %}
              {{errors.pin|join:", "}}
            {% endif %}
          </td>
        </tr>
        <tr>
          <td><label for="confirmpin">Confirm Pin: </label></td>
          <td {% if not errors.confirmpin|empty? %}class="has-error"{% endif %}>
            <input id="confirmpin" class="text-input" type="text" name="confirmpin" placeholder="Confirm Pin" />
            {% if errors.confirmpin %}
              {{errors.confirmpin|join:", "}}
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn">Create Pin</button>
  </form>
  {% else %}
  <h4>Enter your old pin, and a new pin to change your pin
  {% if pin-success %}
    - <span class="success">{{pin-success}}</span>
  {% endif %}
  </h4>
  <form method="post">
    {% csrf-token %}
    <table>
      <tbody>
        <tr>
          <td><label for="oldpin">Old Pin: </label></td>
          <td {% if not pinerrors.oldpin|empty? %}class="has-error"{% endif %}>
          <input id="oldpin" class="text-input" type="text" name="oldpin" placeholder="Current Pin" />
          {% if pinerrors.oldpin %}
            {{pinerrors.oldpin|join:", "}}
          {% endif %}
          </td>
        </tr>
        <tr>
          <td><label for="pin">New Pin: </label></td>
          <td {% if not pinerrors.pin|empty? %}class="has-error"{% endif %}>
          <input id="pin" class="text-input" type="text" name="pin"  placeholder="New Pin" />
          {% if pinerrors.pin %}
            {{pinerrors.pin|join:", "}}
          {% endif %}
          </td>
        </tr>
        <tr>
          <td><label for="confirmpin">Confirm Pin: </label></td>
          <td {% if not pinerrors.confirmpin|empty? %}class="has-error"{% endif %}>
          <input id="confirmpin" class="text-input" type="text" name="confirmpin" placeholder="Confirm Pin" />
          {% if pinerrors.confirmpin %}
            {{pinerrors.confirmpin|join:", "}}
          {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn">Update</button>
  </form>
  {% endif %}
</div>
<h3>Withdraw Funds</h3>
<div class="well p">
  {% if user.btc >= 0 %}
    <form method="post">
      {% csrf-token %}
      <div {% if not errors.amount|empty? %}class="has-error"{% endif %}>
        <label>Amount: <input class="text-input" type="text" name="amount" value="{{amount}}" /></label>
        {% if errors.amount %}
          {{errors.amount|join:", "}}
        {% endif %}
      </div>
      <div {% if not errors.address|empty? %}class="has-error"{% endif %}>
        <label>Bitcoin Address: <input class="text-input btc-address" type="text" name="address" value="{{address}}" /></label>
        {% if errors.address %}
          {{errors.address|join:", "}}
        {% endif %}
      </div>
      <div {% if not errors.pin|empty? %}class="has-error"{% endif %}>
        <label>Pin: <input class="text-input" type="text" name="pin" /></label>
        {% if errors.pin %}
          {{errors.pin|join:", "}}
        {% endif %}
      </div>

      <button type="submit" class="btn">Withdraw</button>
    </form>
  {% else %}
    insufficient funds
  {% endif %}
</div>
<h3>Recent Transactions</h3>
{% if not transactions|empty? %}
<table class="table normal p">
  <thead>
    <tr>
      <th>amount</th>
      <th>note</th>
    </tr>
  </thead>
  <tbody>
  {% for transaction in transactions %}
    <tr {% if transaction.amount > 0 %}class="gain"{% else %}class="loss"{% endif %}>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.role}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p class="well">
  no recent transactions
</p>
{% endif %}
{% endblock %}
